marquee {
    padding: 10px;
    background-color: lightgray;
    font-size: 15px;
}

body {
    padding: 10px;
}

h5 b {
    text-shadow: 2px 2px lightgray;
    letter-spacing: 1px;
}

kbd {
    width: 45px;
    height: 30px;
    font-size: 20px;
}

div {
    border-color: black;
    border-width: 2.5px;
}

hr {
    border-width: 3px;
}

.boy1age {
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
    font-size: 18px;
  }

.modal_img {
    height: 200px;
    border-radius: 20px;
}

.modal-content {
    margin-top: 72px;
    text-align: center;
    padding: 15px;
    animation-name: back;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}  

@keyframes back {
    from{box-shadow: 5px 5px 20px 5px darkblue}
    to{box-shadow: 5px 5px 20px 5px cyan}
}

#abcd{
    margin-top : 20px;
}

h4 {
    font-family: 'Fruktur', cursive;
    text-decoration: underline overline;
}

.footer {
    font-family: 'Henny Penny', cursive;
}

.btn-info, .btn-success {
    font-family: 'Henny Penny', cursive;
}

kbd {
    font-family: 'Dancing Script', cursive;
    font-variant: small-caps;
}

#last {
font: italic bold 12px 30px Georgia, serif;
font-variant: small-caps;
margin-top: 10px;
}

.btn-success {
    width: 250px;
    height: 40px;
    letter-spacing: 5;
    font-size: 22px;
    border: 2px groove black;
}

.btn-success:hover {
    box-shadow: 10px 5px 20px 5px yellow;
}


h3 {
    font-family: 'Fruktur', cursive;
    text-decoration: underline double;
    letter-spacing: 2;
}

#ad:hover {
    border: 1px solid black;
    font-size: 15px;
}

.menu_bar {
    position: sticky;
    top: 0;
    z-index: 99999;
}

#ad {
  background-color: #fff;
  border: 0 solid #e2e8f0;
  border-radius: 1.5rem;
  box-sizing: border-box;
  color: #0d172a;
  cursor: pointer;
  display: inline-block;
  font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1;
  padding: 1rem 1.6rem;
  text-align: center;
  text-decoration: none #0d172a solid;
  text-decoration-thickness: auto;
  transition: all .1s cubic-bezier(.4, 0, .2, 1);
  box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#ad:hover {
  background-color: #1e293b;
  color: #fff;
}

@media (min-width: 768px) {
  #ad {
    font-size: 1.125rem;
    padding: 1rem 2rem;
  }
}



#last a{
    color: inherit;
  }

  ul a:hover {
    font-size: 20px;
  }
  